hostname {{ inventory_hostname }}
vrf definition Mgmt-intf
!
address-family ipv4
exit-address-family
!
address-family ipv6
exit-address-family
!
enable password cisco
no ip domain lookup
ip domain name virl.info
username {{ ansible_user }} privilege 15 secret 0 {{ ansible_password }}
!
interface {{ mgmt_interface }}
no switchport
description to sandbox-backend
vrf forwarding Mgmt-intf
ip address {{ ansible_host }} 255.255.255.0
negotiation auto
no mop enabled
no mop sysid
no shutdown
!
ip route vrf Mgmt-intf 0.0.0.0 0.0.0.0 10.10.20.254
!
ip http server
ip http secure-server
ip http max-connections 2
!
ip ssh time-out 60
ip ssh version 2
ip ssh server algorithm encryption aes128-ctr aes192-ctr aes256-ctr
ip ssh client algorithm encryption aes128-ctr aes192-ctr aes256-ctr
!
crypto key generate rsa modulus 2048 label RSA_SSH
!
line con 0
exec-timeout 0 0
password {{ ansible_password }}
stopbits 1
logging synchronous
privilege level 15
line vty 0 4
exec-timeout 720 0
password {{ ansible_password }}
login local
transport input telnet ssh
!